ipykernel
langchain
python-dotenv
langchain-openai
langchain_community
pypdf
bs4
langchain-text-splitters
azure-ai-inference
chromadb
langchain-ollama
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-classic
streamlit
fastapi
uvicorn
langserve
sse_starlette